*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

.body-container {
  margin-top: 80px;
  background: linear-gradient(to bottom, #020E2A 0%, #0F172A 50%, #0B2154 100%);
  min-height: calc(100vh - 100px);
}