.register-page {
  background-image: linear-gradient(
      to bottom,
      rgba(2, 14, 42, 1) 0%,
      rgba(15, 23, 42, 0.9) 50%,
      rgba(11, 33, 84, 0.5) 100%
    ),
    url("./assets/background.jpg");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 50px;
  gap: 30px;
}

.register-page .logo-container {
  display: flex;
  justify-content: center;
  width: 100%;
}

.register-page .logo-container img {
  height: 150px;
  object-fit: contain;
}

.register-page .register-container {
  width: 400px;
  min-height: 520px;
  max-height: 520px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: linear-gradient(
    to bottom,
    rgba(18, 30, 51, 0.5) 0%,
    rgba(12, 31, 62, 0.5) 50%,
    rgba(19, 34, 60, 0.5) 100%
  );
  backdrop-filter: blur(10px);
  border-radius: 10px;
  color: white;
  padding: 25px 40px 40px;
}

.register-page .register-container h1 {
  font-size: 30px;
  margin-bottom: 20px;
}

.register-page .input-box {
  position: relative;
  width: 100%;
  height: 45px;
  margin-bottom: 12px;
}

.register-page .input-box:first-of-type {
  margin-top: 0;
}

.register-page .input-box input {
  width: 300px;
  height: 100%;
  background: transparent;
  border: none;
  outline: none;
  border: 2px solid rgba(255, 255, 255, 0.2);
  border-radius: 20px;
  padding: 0 45px 0 45px;

  color: white;
}

.register-page .input-box input::placeholder {
  color: white;
}

.register-page .input-box .icon {
  position: absolute;
  left: 20px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 16px;
}

.register-page .input-box .icon-toggle {
  position: absolute;
  right: 20px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 16px;
  cursor: pointer;
}

.register-page .register-button {
  width: 100%;
  height: 45px;
  background: white;
  border: none;
  border-radius: 40px;
  color: #13223c;
  cursor: pointer;
  font-size: 16px;
  font-weight: 500;
  transition: all 0.3s ease;
  margin-top: 8px;
  margin-bottom: 0;
}

.register-page .register-button:hover {
  transform: translateY(-2px);
  box-shadow: 0 5px 15px rgba(255, 255, 255, 0.3);
}
