.alerts-container-constraints {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px;
}

.alerts-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 1220px;
    height: 650px;
    background: linear-gradient(to bottom, #121E33 0%, #0C1F3E 50%, #13223C 100%);
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5); 
}

.alert-buttons-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    gap: 100px;
}

.unresolved-button,
.ongoing-button,
.resolved-button {
    background: #263E77;
    color: white;
    height: 40px;
    width: 150px;
    border: none;
    border-radius: 10px;
}

.unresolved-button:active,
.ongoing-button:active,
.resolved-button:active,
.unresolved-button:hover,
.ongoing-button:hover,
.resolved-button:hover {
    background: white;
    color: #263E77;
}
