.alerts-container-constraints {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px;
}

.alerts-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 1220px;
    height: 650px;
    background: linear-gradient(to bottom, #121E33 0%, #0C1F3E 50%, #13223C 100%);
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5); 
    padding: 20px;
}

.alerts-container > div {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    gap: 0;
}

.UnresolvedSection,
.OngoingSection,
.ResolvedSection {
    flex: 1;
    height: 100%;
    flex-direction: column;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 20px;
    color: white;
    font-size: 20px;
    border-right: 2px solid rgba(255, 255, 255, 0.2);
    border-radius: 0;
}

.ResolvedSection {
    border-right: none;
}

.alertCard {
    width: 100%;
    background: rgba(255, 255, 255, 0.05);
    border-radius: 8px;
    padding: 60px;
    margin-bottom: 1rem;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
}
