.node-wrapper {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 40px;
    align-items: center;
    justify-content: center;
}

.node-container-1{
    display: flex;
    gap: 20px;
}

.node-container-2{
    display: flex;
    gap: 20px;
}

.node-1 {
    width: 600px;
    height: 249px;
    background: linear-gradient(to bottom, rgba(18, 30, 51, 0.75) 0%, rgba(12, 31, 62, 0.75) 50%, rgba(19, 34, 60, 0.75) 100%);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5); 
    border-radius: 10px;
}

.node-2 {
    width: 600px;
    height: 249px;
    background: linear-gradient(to bottom, rgba(18, 30, 51, 0.75) 0%, rgba(12, 31, 62, 0.75) 50%, rgba(19, 34, 60, 0.75) 100%);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5); 
    border-radius: 10px;
}

.node-3 {
    width: 600px;
    height: 249px;
    background: linear-gradient(to bottom, rgba(18, 30, 51, 0.75) 0%, rgba(12, 31, 62, 0.75) 50%, rgba(19, 34, 60, 0.75) 100%);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5); 
    border-radius: 10px;
}

.node-4 {
    width: 600px;
    height: 249px;
    background: linear-gradient(to bottom, rgba(18, 30, 51, 0.75) 0%, rgba(12, 31, 62, 0.75) 50%, rgba(19, 34, 60, 0.75) 100%);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5); 
    border-radius: 10px;
}