.work-dashboard-wrapper {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 40px;
  align-items: center;
  justify-content: center;
}

.work-dashboard-container {
  display: flex;
  gap: 20px;
}

.work-active-nodes-container {
  color: white;
}

.work-last-clog-alert-container {
  color: white;
}

.work-live-alerts-feed-container {
  color: white;
}
